<div class="bg-white flex flex-col items-center justify-center"
     style="min-height: 100vh;"
     data-controller="loader"
     data-loader-signed-in-value="<%= authenticated? %>"
     data-loader-calendar-url-value="<%= user_root_path %>"
     data-loader-welcome-url-value="<%= welcome_path %>"
     data-loader-app-url-value="<%= app_landing_path %>">

  <%= image_tag "screen1logo.png",
      class: "w-[234px] h-[255px] object-contain",
      alt: "Season" %>

  <%= image_tag "season-wortmarke-1.svg",
        style: "width:280px; height:auto; display:block; margin:0 auto;",
        alt: "Season" %>

</div>
