<div class="bg-white flex items-center justify-center mx-auto"
     style="width: 428px; height: 926px;"
     data-controller="loader"
     data-loader-signed-in-value="<%= user_signed_in? %>"
     data-loader-calendar-url-value="<%= user_root_path %>"
     data-loader-welcome-url-value="<%= welcome_path %>">
  <div class="flex flex-col items-center" style="width: 428px;">
    <%= image_tag "screen1logo.png",
        class: "w-[234px] h-[255px] object-contain",
        alt: "Season" %>
    <%= image_tag "Season-Wortmarke 1.svg",
        class: "w-[412px] h-[147px] object-contain -mt-10",
        alt: "Season" %>
  </div>
</div>
