<!DOCTYPE html>
<html>
  <head>
    <title>Season</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path %>
    <meta name="theme-color" content="#933a35">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-[#FAF7F4]">
    <%= yield %>
  </body>
</html>
